*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Playground
/playground
/playground/
.kotlin
.kotlin/

# Git Worktrees
/worktrees/
/worktrees

# Kotlin JS/Wasm
kotlin-js-store/
